<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>
<!-- *** LEFT COLUMN ***
_________________________________________________________ -->
<div class="col-sm-3">
<!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
  <div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
      <h3 class="panel-title">Categories</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked category-menu">
        <li *ngFor="let category of categories">
          <a (click)="filterCategory(category)">{{category.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /.col-md-3 -->
<!-- *** LEFT COLUMN END *** -->
<!-- *** RIGHT COLUMN ***
_________________________________________________________ -->
<div class="col-sm-9">
  <div class="row products">
    <div class="col-md-4 col-sm-6" *ngFor="let product of products">
      <div class="product">
        <div class="image">
          <a routerLink="/detail/{{product._id}}">
            <img src="{{product.image}}" alt="" class="img-responsive image1">
          </a>
        </div>
        <!-- /.image -->
        <div class="text">
          <h3><a routerLink="/detail/{{product._id}}">{{ product.name }}</a></h3>
          <p class="price">{{ product.price }}</p>
          <p class="buttons">
            <a routerLink="/detail/{{product._id}}" class="btn btn-default">View detail</a>
          </p>
        </div>
        <!-- /.text -->
      </div>
      <!-- /.product -->
    </div>
  <!-- /.col-md-4 -->
  </div>
<!-- /.products -->
</div>
<!-- /.col-md-9 -->