<div id="all">
  <header>
    <!-- *** NAVBAR ***
    _________________________________________________________ -->
    <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">
      <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand home" routerLink="/">
              <img src="/assets/img/logo.png" alt="Universal logo" class="hidden-xs hidden-sm">
              <img src="/assets/img/logo-small.png" alt="Universal logo" class="visible-xs visible-sm"><span class="sr-only">Universal - go to homepage</span>
            </a>
            <div class="navbar-buttons">
              <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
              <span class="sr-only">Toggle navigation</span>
              <i class="fa fa-align-justify"></i>
              </button>
            </div>
          </div>
          <!--/.navbar-header -->
          <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a routerLink="/" class="fa fa-home"> Home</a>
              </li>
              <li class="use-yamm yamm-fw" *ngIf="!auth.loggedIn">
                <a routerLink="/login" class="fa fa-sign-in"> Login</a>
              </li>
              <li class="use-yamm yamm-fw" *ngIf="!auth.loggedIn">
                <a routerLink="/register" class="fa fa-user-plus"> Register</a>
              </li>
              <li *ngIf="auth.loggedIn">
                <a routerLink="/account" class="fa fa-user"> Account ({{auth.currentUser.username}})</a>
              </li>
              <li *ngIf="auth.loggedIn && auth.isAdmin">
                <a routerLink="/admin" class="fa fa-lock"> Admin</a>
              </li>
              <li class="use-yamm yamm-fw" *ngIf="auth.loggedIn">
                <a routerLink="/logout" class="fa fa-sign-out"> Logout</a>
              </li>
              <li class="use-yamm yamm-fw">
                <a routerLink="/cart" class="fa fa-cart-plus"> Cart</a>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
          <div class="collapse clearfix" id="search">
            <form class="navbar-form" role="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
      <!-- /#navbar -->
    </div>
    <!-- *** NAVBAR END *** -->
  </header>
  <div id="heading-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Angular Clothing</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /#content -->
  <!-- *** FOOTER ***
  _________________________________________________________ -->
  <footer id="footer">
    <div class="container">
      <div class="col-md-4 col-sm-6">
        <h4>About us</h4>
        <p>Website online store write by MEAN STACK (using angular4,5).We study in UTE</p>
        <hr class="hidden-md hidden-lg hidden-sm">
      </div>
      <!-- /.col-md-3 -->
      <div class="col-md-4 col-sm-6">
        <h4>Social network</h4>
        <div class="blog-entries">
          <div class="item same-height-row clearfix">
            <div class="name same-height-always">
              <h5><a href="https://www.facebook.com/people/Mar-Sino/100003141897522">Facebook</a></h5>
            </div>
          </div>
          <div class="item same-height-row clearfix">
            <div class="name same-height-always">
              <h5><a href="https://www.instagram.com/">Instagram</a></h5>
            </div>
          </div>
          <div class="item same-height-row clearfix">
            <div class="name same-height-always">
              <h5><a href="#">Blog channel</a></h5>
            </div>
          </div>
        </div>
        <hr class="hidden-md hidden-lg">
      </div>
      <!-- /.col-md-3 -->
      <div class="col-md-4 col-sm-6">
        <h4>Contact</h4>
        <p><strong>Universal Ltd.</strong>
          <br>21C/42 Vo Van Ngan
          <br>FullHouse Tower
          <br>Thu Duc district
          <br>Ho Chi Minh City
          <br>
          <strong>Viet Nam</strong>
        </p>
        <hr class="hidden-md hidden-lg hidden-sm">
      </div>
    </div>
    <!-- /.container -->
  </footer>
  <!-- /#footer -->
  <!-- *** FOOTER END *** -->
  <!-- *** COPYRIGHT ***
  _________________________________________________________ -->
  <div id="copyright">
    <div class="container">
      <div class="col-md-12">
        <p class="pull-left">&copy;VinhNguyen2017.</p>
      </div>
    </div>
  </div>
  <!-- /#copyright -->
  <!-- *** COPYRIGHT END *** -->
</div>
<!-- /#all -->