<app-toast [message]="toast.message"></app-toast>
<div class="col-md-12">
  <p class="goToDescription"><a href="#details" class="scroll-to text-uppercase">Scroll to product details</a>
  </p>
  <div class="row" id="productMain">
    <div class="col-sm-6">
      <div id="mainImage">
        <img src="{{product.image}}" alt="" class="img-responsive">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box">
        <form>
          <div class="sizes">
            <h3>{{ product.name }}</h3>
          </div>
          <p class="price">{{product.price}}</p>
          <p class="text-center">
            <button type="submit" class="btn btn-template-main" (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i> Add to cart</button>
          </p>
        </form>
      </div>
      
    </div>
  </div>
</div>