<app-toast [message]="toast.message"></app-toast>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td><img src="{{product.image}}" width="50"></td>
      <td>
      <button class="btn btn-sm btn-primary" (click)="removeProduct(product)"><i class="fa fa-trash"></i> Remove</button>
    </td>
    </tr>
  </tbody>
</table>